* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
.book-section {
  background-color: aliceblue;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}
img {
  width: 100%;
}
.box-1 img{
  width: 100%;
  height: 250px;
}
.box-1 {
  background-color: white;
  box-shadow: 0 0 1px 3px #ccc;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}
.box-1 h1{
  font-size: 25px;
}
.box-1 h5{
  font-size: 14px;
}

.box-1 h1, h5, nav, small{
  padding: 10px;
}
.box-1:hover {
  background-color: rgb(190, 39, 90);
}
.prapgraph{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.5;

}
@media (max-width: 900px) {
  .book-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .book-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
